<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bacteria.css}" />

<title>BioPokedex</title>

</head>
<body>
	<div id="container" th:object="${biolixiviador}">
		<a class="link-voltar" th:href="@{/listar}">Voltar</a>
		<section id="bacteria">
			<div class="img">
				<img class="img"
					th:src="@{/images/{image}(image=${biolixiviador.imagem})}">
				<div class="controles">
				<a class="botao anterior"
					th:href="@{/bacterias/{id}(id=${anterior.id})}">&#10094;</a> 
					<a class="botao proximo"
					th:href="@{/bacterias/{id}(id=${proximo.id})}">&#10095;</a>
			</div>
			</div>
		</section>
		<section id="caracteristicas">
			<div class="item">
				<h2>
					Nome: <span th:text="${biolixiviador.nome}"></span>
				</h2>
			</div>
			<div class="item">
				<h2>
					Tipo: <span th:text="${biolixiviador.tipo}"></span>
				</h2>
			</div>
			<div class="item">
				<h2>
					Filo: <span th:text="${biolixiviador.filo}"></span>
				</h2>
			</div>
			<div class="item">
				<h2>
					Familia: <span th:text="${biolixiviador.familia}"></span>
				</h2>
			</div>
			<div class="item">
				<h2>Ordem: <span th:text="${biolixiviador.ordem}"></span></h2>
			</div>
			<div class="item">
				<h2>Info</h2>
				<p th:text="${biolixiviador.info}"></p>
			</div>
		</section>

	</div>
	
	<script th:inline="javascript">
	
	var tipo = [[${tipo}]];

   	if(tipo === "Metal"){
   		document.body.style.backgroundColor = "#f3f3f3";
   	    document.body.style.backgroundImage = "url('../images/metal.png')";
		document.body.style.backgroundSize = "cover";
		document.body.style.backgroundRepeat = "no-repeat";
   	    document.getElementsByClassName("item")[0].style.backgroundColor = "#A9A9A9";
		document.getElementsByClassName("item")[1].style.backgroundColor = "#A9A9A9";
		document.getElementsByClassName("item")[2].style.backgroundColor = "#A9A9A9";
		document.getElementsByClassName("item")[3].style.backgroundColor = "#A9A9A9";
		document.getElementsByClassName("item")[4].style.backgroundColor = "#A9A9A9";
		document.getElementsByClassName("item")[5].style.backgroundColor = "#A9A9A9";
   	}
   	if(tipo === "Composto Químico"){
   		document.body.style.backgroundColor = "#f3f3f3";
	    document.body.style.backgroundImage = "url('../images/compostos-quimicos.png')";
	    document.body.style.backgroundSize = "cover";
	    document.body.style.backgroundRepeat = "no-repeat";
	    document.getElementsByClassName("item")[0].style.backgroundColor = "#DAA520";
		document.getElementsByClassName("item")[1].style.backgroundColor = "#DAA520";
		document.getElementsByClassName("item")[2].style.backgroundColor = "#DAA520";
		document.getElementsByClassName("item")[3].style.backgroundColor = "#DAA520";
		document.getElementsByClassName("item")[4].style.backgroundColor = "#DAA520";
		document.getElementsByClassName("item")[5].style.backgroundColor = "#DAA520";
   	}  
   	if(tipo === "?"){
   		document.body.style.backgroundColor = "#2E8B57";
	    document.body.style.backgroundSize = "cover";
	    document.body.style.backgroundRepeat = "no-repeat";
	    document.getElementsByClassName("item")[0].style.backgroundColor = "#90EE90";
		document.getElementsByClassName("item")[1].style.backgroundColor = "#90EE90";
		document.getElementsByClassName("item")[2].style.backgroundColor = "#90EE90";
		document.getElementsByClassName("item")[3].style.backgroundColor = "#90EE90";
		document.getElementsByClassName("item")[4].style.backgroundColor = "#90EE90";
		document.getElementsByClassName("item")[5].style.backgroundColor = "#90EE90";
   	}
   	
</script>
</body>
</html>