<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/estilo.css}">
    <link rel="stylesheet" th:href="@{css/geral.css}">
    <title>BioPokedex</title>
</head>
<body>
    <main>
        <div id="container">
            <img src="images/microscope-640.png" alt="Imagem de microscópio">
            <h1>Bacterias Biolixiviadoras</h1>
            <h2>Trabalho de Ayrton Ferreira e Ricardo Herrero</h2>
            <a th:href="@{listar}">Iniciar</a>
        </div>
        
    </main>
</body>
</html>