<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Referências Bibliográficas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/referencia.css}">
</head>
<body>
	<div id="container">
		<h1 class="titulo">Referências Bibliográficas</h1>
		<p>
			D.M. Collinson, K.M. Usher, P.D. Nichols, H.R. Watling, Habituation
			of Sulfobacillus thermosulfidooxidans to 4-nonylphenol in ferrous ion
			growth medium, <strong>Process Biochemistry</strong>, volume 46, ed. 1, p
			108-115, 2011.
		</p>
		<p>
			FRANÇA, R. G. et al. Remoção de Metais de Lodo de Esgoto por
			biolixiviação. <strong>Universidade Comunitária Regional de
				Chapecó</strong>, Chapecó, Santa Catarina, ed. 19, p. 31-40, 2004.
		</p>
		<p>
			Khan, S. et al. Growth and Biochemical Activities of
			Acidithiobacillus thiooxidans Collected from Black Shale. <strong>
			Journal of Microbiology Research</strong>, 2012.
		</p>
		<p>
			Novo, M.T.M. <strong>Variabilidade genética em Thiobacillus sp.
				e efeitos de metais pesados em Thiobacillus ferrooxidans
			</strong>. Campinas,
			SP: Tese de doutorado, Unicamp, 1998.
		</p>
		<p>
			SICUPIRA, L.C. <strong>Biolixiviação de Sulfetos Secundários de
				Cobre por Sulfobacillus thermosulfidooxidans</strong>. 2011. Dissertação
			(Mestrado em Engenharia de Materiais) - Universidade Federal de Ouro
			Preto, Ouro Preto.
		</p>
		<p>
			Pérez Effio, N. M. (2016). Aislamiento y determinación de bacterias biooxidantes del género Acidithiobacillus y Leptospirillum presentes en las aguas residuales de las unidades mineras de Recuay–Huaraz.
		</p>
		<p>
			Francisco Junior, W. E., Bevilaqua, D., & Garcia Júnior, O. (2009). Estudo da oxidação dos sulfetos sintéticos molibdenita (MoS2) e covelita (CuS) por Acidithiobacillus ferrooxidans via respirometria celular. Química Nova, 32(6), 1477-1481.
		</p>
		<p>
			Yamane, L. H., Espinosa, D. C. R., & Tenório, J. A. S. (2011). Biolixiviação de cobre de sucata eletrônica. Rem: Revista Escola de Minas, 64(3), 327-333.
		</p>
		
	</div>
</body>
</html>